---
import Navbar from "../../components/Navbar.astro";
import Hero from "../../components/Hero.astro";
import TextImage from "../../components/TextImage.astro";
import Map from "../../components/Map.astro";
import Footer from "../../components/Footer.astro";
import ContactForm from "../../components/ContactForm.astro";

import Layout from "../../layouts/Layout.astro";
import FlexColumn from "../../layouts/FlexColumn.astro";
---


<Layout title="Homepage">
    <main>
        <Navbar lang="en"/>
        <header>
            <Hero lang="en"/>
        </header>
        <section class="who-we-are">
            <FlexColumn>
                <TextImage
                title="World-class financial advisory services"
                body="VIPCapital's partners have accumulated years of investment banking experience in Latin America. The firm has a team of fourteen investment bankers covering the region from its headquarters in Caracas."
                image="../../images/caracas.webp"
                alt="Caracas city"
                direction="left"
                link="/en/services"
                linkText="Explore our services"
                />
                <TextImage
                title="More than 20 years of experience"
                body="Founded in 2002, VIPCapital has aimed to provide world-class corporate finance advisory to multinationals and traditional Venezuelan conglomerates."
                image="../../images/teletower.webp"
                alt="A telecommunication tower"
                link="/en/history"
                linkText="Learn more about us"
                direction="right"
                />
                <TextImage
                title="Our clients"
                body="VIPCapital has provided world-class financial advisory to multinationals, corporations and financial institutions, international government agencies, boards of directors and special committees for over 20 years.\nVIPCapital mantains complete confidentiality of its clients and transactions."
                alt="Agriculture"
                image="../../images/agricultura.webp"
                direction="left"
                />
            </FlexColumn>
        </section>
        <section id="experience" class="experience">
            <Map lang="en"/>
        </section>
        <section class="contact" id="contact">
            <ContactForm 
                lang="en"
            />
        </section>


        <Footer lang="en"/>
    </main>
</Layout>

<style>
    .who-we-are {
        padding-top: var(--section-separator);
    }
    .experience {
        background-color: var(--primary);
        margin-top: calc(var(--section-separator)*2);
        padding: calc(var(--section-separator)*2) 0;
    }
    .contact {
        padding: calc(var(--section-separator)*2) 0;
    }
</style>

