---
import Secondary from "../../layouts/Secondary.astro";
import CardWrapper from "../../layouts/CardWrapper.astro";
import ServiceCard from "../../components/ServiceCard.astro";
import TeamCard from "../../components/TeamCard.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Team">
    <Navbar lang="en"/>
    <Secondary
        backgroundImage="../../images/drone.webp"
        title="The Team"
        subtitle="We are a team of experienced professionals with a proven track record in the financial sector."
        pageTitle="Team"
        lang="en"
    >
    
        <section>
            <CardWrapper>
    
                <TeamCard 
                    initials="HGR"
                    name="Henrique Ghersi Rossón"
                    position="Managing Partner"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description="Mr. Ghersi has over 30 years of experience in commercial and investment banking, starting at Citibank in Venezuela in 1985. In 1991, he joined Chemical Bank in Caracas and later moved to New York to work in Privatization and Project Finance. In 1995, he joined UBS Warburg in New York, where he focused on asset securitization and syndicated loans. Then, in 1998, he became Vice President of International Finance at the Cisneros Group in Venezuela. In 2001, he founded Venezuelan Investment Partners (VIPCapital). Throughout his career, he has led more than 50 transactions in emerging markets, including M&A, capital markets, structuring, project financing, and privatizations. He is an Industrial Engineer with master's degrees in Engineering and Economics, as well as an Adjunct Professor and Director of the Corporate Finance Program at IESA in Caracas."
                    pointy="tl"
                    color="blue"
                />
                <TeamCard 
                    initials="RNE"
                    name="Rodrigo Naranjo Escovar"
                    position="Partner"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='Mr. Naranjo joined VIPCapital in 2011, bringing with him 11 years of experience in investment banking in New York. He has worked at JPMorgan, ABN AMRO, and the Royal Bank of Scotland, excelling in structured finance and capital markets. Throughout his career, he has led numerous bond issuances, syndicated loans, acquisition financing, and restructurings in various Latin American countries. Mr. Naranjo was part of the ABN AMRO team that received awards such as "LatAm Loan House of the Year" from IFR Magazine in 2004 and 2006, as well as "LatAm Debt House of the Year" from Euromoney in 2007. Additionally, he has led structured financings recognized by other international financial magazines. He holds a Master`s in Public Policy from Georgetown University and graduated Magna Cum Laude from Babson College.'
                    pointy="tr"
                    color="white"
                />
                <TeamCard 
                    initials="FC"
                    name="Federico Carmona"
                    position="External Advisor"
                    description='Mr. Carmona has more than 25 years of professional experience. He has served as Director of Consorcio Financiero Unión and Banco Metropolitano. Currently, he is a board member of Cerámica Carabobo, Terminales Maracaibo, and H. L. Boulton. Mr. Carmona is the Vice President of the Venezuelan French Chamber of Commerce and the President of Sodexo Pass, Venezuela. He graduated from the Universidad Católica Andrés Bello and holds a postgraduate degree in Financial Law from the University of Paris II, Sorbonne, France.'
                    pointy="bl"
                    color="white"
                />
                <TeamCard 
                    initials="CNR"
                    name="Carlos Navarro Rodríguez"
                    position="Vice President and Partner"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='Mr. Navarro joined VIPCapital in 2008, bringing with him extensive experience in the areas of credit, risk, and corporate finance from two prominent local banks. Mr. Navarro is an Economist graduated from the Universidad Central de Venezuela and holds a Master`s in Finance from IESA, where he ranked second in his class. He is a professor of Game Theory and Business Valuation at IESA. He holds a Ph.D. in Economics and has publications in refereed journals.'
                    pointy="br"
                    color="blue"
                />
                <TeamCard 
                    initials="JCA"
                    name="Juan Carlos Arvelo"
                    position="Vice President"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='Mr. Arvelo joined the firm in 2008. At VIPCapital, he has been involved in strategic advisory, mergers and acquisitions for corporate clients, debt restructuring, and business valuation. Prior to this, he worked for 2 years as an Analyst at Studies and Projects DITECH (Technip Venezuela). Mr. Arvelo is an Engineer graduated from the Universidad Católica Andrés Bello (where he graduated among the top students of his class) and holds a Master of Business Administration from IESA in 2008, as well as a Master`s in Finance from IESA in 2009. He is currently pursuing a Master`s degree in Statistics at the Universidad Simón Bolívar. Mr. Arvelo has also served as a Research Assistant and Professor at IESA.'
                    pointy="tl"
                    color="blue"
                />
                <TeamCard 
                    initials="DC"
                    name="Daniel Cárdenas"
                    position="Vice president"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='Mr. Cadenas joined VIPCapital in 2015. Previously, he worked as a Financial Planning Specialist at Banco Nacional de Crédito, conducting economic research. He has also served as a Research Assistant on projects funded by a prominent scientific development center in Venezuela. Mr. Cadenas holds a Bachelor`s degree in Economics from the Universidad Central de Venezuela (ranking second in his class with honors of Magna Cum Laude). Additionally, he holds a Bachelor`s degree in Chemistry from the Universidad de Los Andes and an Associate`s degree in Chemistry from the Instituto Universitario de Tecnología Región Capital. He is currently pursuing a Master`s degree in Operations Research at the Faculty of Engineering at the Universidad Central de Venezuela.'
                    pointy="tr"
                    color="white"
                />
                <TeamCard 
                    initials="AR"
                    name="Armando Romero"
                    position="Associate"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='Mr. Romero joined VIPCapital in March 2017. Previously, he worked as a researcher at the International Center for Energy and Environment at IESA, where he was involved in various research and consultancy projects in the economics and politics of the oil and natural gas industry. He is an economist graduated from the University of Carabobo (where he served as a teaching assistant and research assistant and ranked 2nd in his class). Additionally, he currently serves as a teaching assistant at IESA.'
                    pointy="tl"
                    color="white"
                />
                <TeamCard 
                    initials="SMQ"
                    name="Samuel Mc Quhae"
                    position="Analyst"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='Mr. McQuhae joined VIPCapital in March 2020. Prior to that, he worked as a Research Assistant in Economic Consulting and at the Latin American and Caribbean Economic Service (SELA). He is an economist graduated from the Universidad Católica Andrés Bello (UCAB), where he achieved the top position in his class. He also served as a teaching assistant for Mathematics, Statistics, and Financial Economics at the UCAB School of Economics.'
                    pointy="bl"
                    color="blue"
                />
            </CardWrapper>
        </section>
    
    
    
    </Secondary>
</Layout>