---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="404">
  <div class="content">
    <img src="../../logo.svg" alt="">
    <h2 class="h1 text-primary">Thank you!</h2>
    <p class="main-text">We will get back to you as soon as posible.</p>
    <a href="/en/" class="link-text main-text text-primary">
        Back to home
    </a>
  </div>
</Layout>

<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 1rem;
    }
    .content h2 {
        text-align: center;
    }
    .content img {
        width: 10rem;
    }
</style>