---
interface Props {
    lang: string;    
}

const langData =  {
    es: {
        title: "Líderes en servicios de banca de inversión en ",
        text: "Prestamos asesoría de clase mundial para la ejecución de transacciones financieras complejas.",
        button: "Contáctanos",
        href: "/es/#contact"
    },
    en : {
        title: "Leaders in investment banking services in ",
        text: "We provide world-class advice for the execution of complex financial transactions.",
        button: "Contact us",
        href: "/en/#contact"
    }
}

const {lang} = Astro.props;

const data = langData[lang];
---
<div class="hero">
    <div class="hero-content">
        <h1 class="h1">{ data.title } <span class='text-gradient-light'>Venezuela</span></h1>
        <p class="main-text">{ data.text }</p>
        <a href={data.href}>
            <button class="button-secondary main-text">
                { data.button }
            </button>
        </a>
    </div>
    <div class="hero-slider">
        <div class="image-container"></div>
    </div>
</div>

<style>
    .hero {
        width: 100%;
        height: 100vh;
        height: 100dvh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

    }
    .hero-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .image-container {
        width: inherit;
        height: inherit;
        object-fit: cover;
        background: url('../../images/hero1.webp') no-repeat center center / cover;
        filter: brightness(0.5);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    .hero-content {
        color: white;
        z-index: 1;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    @media (max-width: 768px) {
        .hero-content {
            margin-left: 0;
            margin: 0 20px;
        }
    }
    .hero-content p, .hero-content h1 {
        max-width: 500px;
        margin: 0;
        
    }
</style>

<script>
    const imageContainer: HTMLElement = document.querySelector('.image-container');
    const images = ['../../images/hero1.webp', '../../images/hero2.webp', '../../images/hero3.webp'];
    let i = 0;
    setInterval(() => {
        imageContainer.style.background = `url(${images[i]}) no-repeat center center / cover`;
        i++;
        if (i == images.length) {
            i = 0;
        }
    }, 5000);
</script>