---
const languages = {
    es: "Español",
    en: "English",
}

const page = Astro.url.pathname.split("/")[2]

---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/${lang}/${page}`}>{label}</a>
      <p>{page}</p>
    </li>
  ))}
</ul>

<script>
    const route = window.location.pathname.split("/")[2]
    console.log(route)
</script>