---
interface Props {
    lang: "es" | "en";
}

const { lang } = Astro.props;

const langData = {
    es: {
        years: ["~1990", "2002", "2011", "Ahora"],
        text: ["Los socios de VIPCapital trabajaron durante la década de los noventa y la primera década del siglo actual en banca de inversión en Nueva York, estructurando y cerrando decenas de transacciones financieras complejas en toda Latinoamérica.", "Se funda la firma con el nombre de Venezuela Investment Partners, con el objetivo de proporcionar asesoría de finanzas corporativas de la más alta calidad a multinacionales y a conglomerados tradicionales venezolanos.", "La firma lanza su nueva imagen corporativa: VIPCapital. Además, comienza su expansión regional, formando alianzas por todo el continente Americano y en España.", "VIPCapital cuenta con catorce banqueros de inversión con sede en Caracas, que suman años de experiencia en asesoría de finanzas corporativas en áreas que incluyen fusiones y adquisiciones, levantamiento de deuda y capital, financiamiento estructurado y de proyectos."]
    },
    en: {
        years: ["~1990", "2002", "2011", "Now"],
        text: ["VIPCapital's partners worked during the 1990s and the first decade of the current century in investment banking in New York, structuring and closing dozens of complex financial transactions throughout Latin America.",
        "The firm is founded under the name Venezuela Investment Partners, with the objective of providing the highest quality corporate finance advice to multinationals and traditional Venezuelan conglomerates.",
        "The firm launches its new corporate image: VIPCapital. In addition, it begins its regional expansion, forming alliances throughout the American continent and in Spain.",
        "VIPCapital has fourteen investment bankers based in Caracas, who have years of experience in corporate finance advice in areas including mergers and acquisitions, debt and capital raising, structured and project financing."]
    }
}
const selectedLang = langData[lang];
---
<div class="container">
    <div class="timeline">
        {
            selectedLang.years.map((year, i) => {
                return (
                    <div class="timestamp">
                        <div class="year">
                            <h2 class="year-text text-primary">{year}</h2>
                        </div>
                        <div class="timedot"></div>
                        <div class="description main-text">
                            {selectedLang.text[i]}
                        </div>
                    </div>
                )
            })
        }
        <div class="line"></div>
    </div>
</div>

<style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timeline {
        width: 300px;
        height: 1100px;
        max-width: 100%;
        overflow-x: visible;
        position: relative;
    }
    .line {
        width: 3px;
        height: 100%;
        background: var(--primary);
        position: absolute;
        z-index: -1;
        left: 27.5%;
        transform: translateX(-50%);
        top: 0;
    }
    .timestamp {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        align-items: center;
        overflow-x: visible;
        width: 600px;
        margin-top: 40px;
    }
    .year {
        justify-content: right;
        width: calc(100% - 10px);
    }
    .year-text {
        text-align: right;
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0;
    }
    .timedot {
        position: absolute;
        left: 24.25%;
        flex: 0 0 auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--secondary);
    }
    @media screen and (min-width: 701px) {
        .timestamp {
            grid-template-columns: 80px 300px;
        }
    }
    @media screen and (max-width: 700px) {
        .timestamp {
            width: 100%;
            gap: 40px;
        }
        .line {
            left: 32%;
        }
        .timedot {
            position: absolute;
            left: 28.5%;
        }
    }
    .description {
    }
    
</style>