---
import Secondary from "../../layouts/Secondary.astro";
import ServiceCard from "../../components/ServiceCard.astro";
import CardWrapper from "../../layouts/CardWrapper.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Services"
>
    <Navbar lang="es"/>
    <Secondary
        backgroundImage="../../images/caracas-2.webp"
        title="Servicios"
        subtitle="Trayectoria de éxito en transacciones financieras complejas en toda Latinoamérica."
        pageTitle="Servicios"
        lang="es"
    >
    
        <section>
            <CardWrapper>
                <ServiceCard 
                    title="Fusiones y adquisiciones"
                    description=""
                    icon="domain"
                    pointy="tl"
                    bulletPoints={
                        [
                            "Exploración y selección de empresas target para adquisiciones",
                            "Desarrollo de estrategias de venta",
                            "Valoración y análisis de fusiones",
                            "ASesoría en fusiones y adquisiciones para compradores o vendedores"
                        ]
                    }
                />
                <ServiceCard 
                    title="Levantamiento de fondos"
                    description=""
                    icon="currency-usd"
                    pointy="tr"
                    bulletPoints={
                        [
                            "Mercado de capitales",
                            "Deuda bancaria y multilateral",
                            "Financiamiento de proyectos (Project Finance)",
                            "Capital privado"
                        ]
                    }
                />
                <ServiceCard 
                    title="Asesoria financiera"
                    description=""
                    icon="finance"
                    pointy="br"
                    bulletPoints={
                        [
                            "Valoración de empresas",
                            "Estructura óptima de capital",
                            "Estrategia financiera",
                            "Instrumentos de tesorería"
                        ]
                    }
                />
                <ServiceCard 
                    title="Productos estructurados"
                    description=""
                    icon="briefcase"
                    pointy="bl"
                    bulletPoints={
                        [
                            "Productos estructurados",
                            "Asesoria de gerencia de inversiones",
                            "Venta de créditos complejos"
                        ]
                    }
                />
            </CardWrapper>
        </section>
    
    
    
    </Secondary>
</Layout>
<Navbar lang="es"/>
