---
import Secondary from "../../layouts/Secondary.astro";
import CardWrapper from "../../layouts/CardWrapper.astro";
import ServiceCard from "../../components/ServiceCard.astro";
import TeamCard from "../../components/TeamCard.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Team">
    <Navbar lang="es"/>
    <Secondary
        backgroundImage="../../images/drone.webp"
        title="The Team"
        subtitle="Sumamos más de 150 mil horas en la completación de cientos de transacciones complejas, con un valor de más de 18 mil millones de dólares, en una decena de países."
        pageTitle="Team"
        lang="es"
    >
    
        <section>
            <CardWrapper>
    
                <TeamCard 
                    initials="HGR"
                    name="Henrique Ghersi Rossón"
                    position="Managing Partner"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description="El Sr. Ghersi cuenta con más de 30 años de experiencia en banca comercial y de inversión, comenzando en Citibank en Venezuela en 1985. En 1991, se unió al Chemical Bank en Caracas y posteriormente se trasladó a Nueva York para trabajar en Privatización y Project Finance. En 1995, se unió a UBS Warburg en Nueva York, donde se enfocó en titularización de activos y préstamos sindicados. Luego, en 1998, fue Vicepresidente de Financiamiento Internacional del Grupo Cisneros en Venezuela. En 2001, fundó Venezuelan Investment Partners (VIPCapital). A lo largo de su carrera, ha liderado más de 50 transacciones en mercados emergentes, abarcando M&A, mercados de capitales, estructuraciones, financiamiento de proyectos y privatizaciones. El es Ingeniero Industrial con maestrías en Ingeniería y Economía, además de ser Profesor Adjunto y Director del Programa Finanzas Corporativas en el IESA en Caracas."
                    pointy="tl"
                    color="blue"
                />
                <TeamCard 
                    initials="RNE"
                    name="Rodrigo Naranjo Escovar"
                    position="Partner"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='El Sr. Naranjo se unió a VIPCapital en 2011, aportando 11 años de experiencia en banca de inversión en Nueva York. Ha trabajado en JPMorgan, ABN AMRO y el Royal Bank of Scotland, destacándose en finanzas estructuradas y mercado de capitales. Durante su carrera, lideró numerosas emisiones de bonos, préstamos sindicados, financiamiento de adquisiciones y reestructuraciones en varios países latinoamericanos. El Sr. Naranjo fue parte del equipo de ABN AMRO que recibió premios como "LatAm Loan House of the Year" de IFR Magazine en 2004 y 2006, así como "LatAm Debt House of the Year" de Euromoney en 2007. Además, ha liderado financiamientos estructurados reconocidos por otras revistas financieras internacionales. Posee una Maestría en Políticas Públicas de Georgetown University y se graduó Magna Cum Laude en Babson College.'
                    pointy="tr"
                    color="white"
                />
                <TeamCard 
                    initials="FC"
                    name="Federico Carmona"
                    position="External Advisor"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='El Sr. Carmona cuenta con más de 25 años de experiencia profesional. Ha sido Director de Consorcio Financiero Unión y Banco Metropolitano. Actualmente es miembro de la Junta Directiva de Cerámica Carabobo, Terminales Maracaibo y H. L. Boulton. El Sr. Carmona es Vice Presidente de la Cámara Venezolana Francesa y Presidente de Sodexo Pass, Venezuela. El Sr. Carmona es egresado de la Universidad Católica Andrés Bello y tiene un postgrado en Derecho Financiero de la Universidad de París II, Sorbonne, Francia.'
                    pointy="bl"
                    color="white"
                />
                <TeamCard 
                    initials="CNR"
                    name="Carlos Navarro Rodríguez"
                    position="Vice President and Partner"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='El Sr. Navarro ingresó en VIPCapital en 2008 habiendo acumulado una amplia experiencia en las áreas de crédito, riesgo y finanzas corporativas en dos importantes bancos locales. El Sr. Navarro es Economista egresado de la Universidad Central de Venezuela y posee un Master en Finanzas del IESA (donde obtuvo la posición número 2 en su promoción). Es  profesor de Teoría de Juegos y de Valoración de Empresas en el IESA. Es PhD en Ciencias Económicas y tiene publicaciones en revistas arbitradas.'
                    pointy="br"
                    color="blue"
                />
                <TeamCard 
                    initials="JCA"
                    name="Juan Carlos Arvelo"
                    position="Vice President"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='El Sr. Arvelo ingresa a la firma en el año 2008. En VIPCapital ha estado involucrado en asesoría estratégica, fusiones y adquisiciones para clientes corporativos, reestructuración de pasivos y valoración de empresas. Previamente, se desempeñó, durante 2 años, como Analista en Estudios y Proyectos DITECH (Technip Venezuela). El Sr. Arvelo es Ingeniero egresado de la Universidad Católica Andrés Bello (donde se graduó en los primeros puestos de su promoción) y posee una Maestría en Administración de Empresas del IESA en el año 2008 y una Maestría en Finanzas del IESA en el año 2009. En la actualidad cursa la Maestría en Estadística en la Universidad Simón Bolívar. El Sr. Arvelo ha sido Asistente de Investigación y Profesor en el IESA.'
                    pointy="tl"
                    color="blue"
                />
                <TeamCard 
                    initials="DC"
                    name="Daniel Cárdenas"
                    position="Vice president"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='El Sr. Cadenas ingresó en VIPCapital en 2015. Previamente se desempeñó como Especialista de Planificación Financiera en el Banco Nacional de Crédito realizando trabajos de investigación económica. Ha sido Asistente de Investigación en proyectos financiados por un importante centro de desarrollo científico de Venezuela. El Sr. Cadenas tiene una licenciatura en Economía de la Universidad Central de Venezuela (ocupando la posición número 2 de su promoción, mención Magna Cum Laude). Además es licenciado en Química por la Universidad de Los Andes y TSU en Química por el Instituto Universitario de Tecnología Región Capital. Actualmente cursa la maestría en Investigación de Operaciones en la Facultad de Ingeniería de la Universidad Central de Venezuela'
                    pointy="tr"
                    color="white"
                />
                <TeamCard 
                    initials="AR"
                    name="Armando Romero"
                    position="Associate"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='El Sr. Romero ingresa en VIPCapital en marzo de 2017. Previamente se desempeñó como investigador en el Centro Internacional de Energía y Ambiente del IESA, donde estuvo involucrado en diversos proyectos de investigación y consultoría en economía y política de la industria petrolera y del gas natural. Es economista egresado de la Universidad de Carabobo (donde fue preparador y asistente de investigación, y obtuvo la posición número 2 de su promoción). Además, se desempeña en la actualidad como asistente docente en el IESA.'
                    pointy="tl"
                    color="white"
                />
                <TeamCard 
                    initials="SO"
                    name="Sandy Oliveros"
                    position="Associate"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='El Sr. Oliveros ingresa en VIPCapital en septiembre de 2017. Anteriormente, se desempeñó como Analista de Investigación y Estrategia para mercados emergentes en un banco de inversión. El Sr. Oliveros es Economista de la Universidad de Los Andes (donde obtuvo la posición número 2 de su promoción, mención Magna Cum Laude) y cuenta con estudios avanzados en riesgos financieros por la Universidad Católica Andrés Bello (UCAB). El Sr. Oliveros posee una Maestría en Finanzas del IESA. Actualmente, es tesista de la Maestría en Economía Aplicada de la UCAB. Es profesor instructor de econometría I en la Escuela de Economía de la UCAB.'
                    pointy="tr"
                    color="blue"
                />
                <TeamCard 
                    initials="SMQ"
                    name="Samuel Mc Quhae"
                    position="Analyst"
                    linkedin="https://www.linkedin.com/in/jorge-luis-s%C3%A1nchez-9b1a1b1/"
                    description='El Sr. Mc Quhae ingresa a VIPCapital en marzo de 2020. Previamente, se desempeñó como Asistente de Investigación Económica en una firma consultora y en el Servicio Económico Latinoamericano y del Caribe (SELA). Es economista egresado de la Universidad Católica Andrés Bello (UCAB), donde obtuvo el primer lugar de su promoción. Fue preparador de Matemáticas, Estadística y Economía Financiera en la Escuela de Economía de la UCAB.'
                    pointy="bl"
                    color="blue"
                />
            </CardWrapper>
        </section>
    
    
    
    </Secondary>
</Layout>