--- 
import "../styles/global.css";
import { SEO } from "astro-seo"
interface Props {
	title: string;
}

const canonicalURL = "https://vip-capital.netlify.app";

const resolvedImageWithDomain = new URL(
  "/images/vip-capital-screenshot.png",
  canonicalURL
).toString();

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={title}
			description="VIP Capital is a leading investment banking firm in Venezuela. We provide top of the line financial advisory services, helping our clients achieve their goals."
			canonical={canonicalURL}
			openGraph={{
			basic: {
				url: canonicalURL,
				type: "website",
				title: `Vip Capital - The leaders in investment banking services in Venezuela`,
				image: resolvedImageWithDomain,
			},
			image: {
				alt: "Vip-Capital Homepage Screenshot",
			},
			}}
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
        margin: 0;
        padding: 0;
    }
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
